<div>
  <%= partial "components/standard/heading-1"%>
  <%= partial "components/standard/heading-2"%>
  <%= partial "components/standard/heading-3"%>
  <%= partial "components/standard/heading-4"%>
  <%= partial "components/standard/heading-5"%>
  <%= partial "components/standard/heading-6"%>
</div>

<div>
  <%= partial "components/standard/blockquote"%>
  <%= partial "components/standard/text"%>
</div>

<div>
  <%= partial "components/standard/pagination"%>
</div>
<div>
  <%= partial "components/standard/pagination-first"%>
</div>
<div>
  <%= partial "components/standard/pagination-last"%>
</div>

<%= partial "components/standard/list-unordered"%>
<%= partial "components/standard/list-ordered"%>

<%= partial "components/standard/feedback"%>
<%= partial "components/standard/feedback-error"%>

<%= partial "components/standard/form-buttons"%>
<%= partial "components/standard/form-email"%>
<%= partial "components/standard/form-checkbox"%>
<%= partial "components/standard/form-url"%>
<%= partial "components/standard/form-text"%>
<%= partial "components/standard/form-number"%>
<%= partial "components/standard/form-textarea"%>
<%= partial "components/standard/form-select"%>
